### DATA TYPES:

>> Data Type in python is a way to classify data items of a value that is holded by some variable.

>> They determine the type of opreations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data

 IMPORTANCE OF DATA TYPES IN PROGRAMMING:

>> Data types ensure that data is stored in an efficient way.

>> They help in performing corrct operations on data.

>> Proper use of data types can prevent errors and bugs in the program.

In [1]:
## Integer example:

age = 34
type(age)
print(type(age))

<class 'int'>

In [ ]:
## Floating point example:


height = 5.9
print(height)
print(type(height))

5.9
<class 'float'>

In [3]:
## String datatype example:

name = "ABXYZ"
print(name)
print(type(name))

ABXYZ
<class 'str'>

In [5]:
## Boolean datatype example:

is_true = True
print(type(is_true))

<class 'bool'>

In [6]:
bool()

False

In [ ]:
a =10
b = 10
 
type(a == b)

bool

In [1]:
##Common errors

result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [10]:
result  = "Hello" +str(5)
print(result)

Hello5

In [11]:
str = "Hello"
print(str + "World")

HelloWorld

### Arithemetic Operators:

In [14]:
##  Arithementic Operations:

a = 10
b = 5

add_result = a + b  #addition
sub_result = a - b  #subtraction
mult_result = a * b  #multiplication
div_result = a / b  #division
floor_div_result = a // b  #floor division
moduluds_result = a % b  #modulus
exponent_result = a ** b  #exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(moduluds_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

#### Relational Operator:

In [ ]:

# == equal to
a = 10
b = 10
a == b

True

In [19]:
str1 = "Hello"
str2 = "World"
str1 == str2

False

In [21]:
## Not Equal to !=
str1 != str2

True

In [ ]:
#greater than >
 
num1 = 10
num2 = 5

num1 > num2

True

In [ ]:
#Less than <

num1 = 30
num2 = 30
 
num1 < num2

True

In [ ]:
## greater than or equal to >=

num3 = 20
num4 = 15

num3 >= num4

True

In [ ]:
## Less than or equal to <= 

num3 <= num4

False

#### Logical Operators

In [ ]:
## AND Operation:
# if both operands are true, the result is true
X = True
Y = True

result = X and Y
print(result)

True

In [ ]:
## OR operation:
# if at least one operand is true, the result is true
X = True
Y = False

result = X or Y
print(result)

True

In [30]:
## NOT Operation:
X = True
not_X = not X
print(not_X)

False