#### Loop Control Statements
   1. Break
   2. Continue
   3. pass
5. Nested Loops
6. Practical Examples and Common Errors

In [1]:
range(5)

range(0, 5)

In [2]:
### for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
### print 1 to N using a loop

n = 10
for i in range(1, n + 1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
## print sum of N natural numbers:

n = 5
sum = 0
for i in range (1, n + 1):
   sum += i
   print(sum)

1
3
6
10
15

In [9]:
## Multiplication Table of a number
num1 = 5
num2 = 10
for i in range(1, num2+1):
    print(num1 * i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
### Count the no of digits in a number

a = int(input("Enter a number: "))

count = len(str(a))
print("number of digits: ", count)

number of digits:  7

In [ ]:
### Check Armstrong Number

num = int(input("Enter a number: "))
temp = num
sum = 0

digits = len(str(num))

while temp>0:
    digit = temp % 10
    sum = sum + (digit ** digits)
    temp = temp//10

if sum == num:
    print(f"{num} is an armstrong number")

else:
   print(f"{num} is not an armstrong number")

153 is an armstrong number

In [14]:
x = 0
while x < 10:
    print(x, end = " ")
    x += 1

0 1 2 3 4 5 6 7 8 9

In [18]:
## Reverse a number
num = input("Enter a number")


reversed = num[::-1]
print(reversed)

7654321

#### For Loop:

In [ ]:
nums = [1, 2, 3, 4, 5]
for num in nums:
    
    print(num)

1
2
3
4
5

In [ ]:
## Break statement

num = [1, 2, 3, 4, 5, 6]

for num in nums:
    if num == 3:
        print("Found")
        break
    print(num)

1
2
Found

In [ ]:
## Continue statement


for num in nums:
    if num == 3:
        print("Found")
        continue
    print(num)

1
2
Found
4
5

In [24]:
nums = [1, 2, 3, 4, 5]

for num in nums:
    for letter in 'abc':
        print(num, letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [1]:
for i in range(1, 11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
## Count vowels
text = "education"
count = 0 
for ch in text:
    if ch in "aeiou":
        count += 1
print(count)

5

In [4]:
## Reversing a value
for i in range(5, 0, -1):
    print(i, end = " ")

5 4 3 2 1

In [5]:
## Sum of numbers
total = 0
for i in range (1, 6):
    total += i
print(total)

15

In [6]:
### Reverse a string
text = "python"
for ch in text[::-1]:
    print(ch, end = " ")

n o h t y p

In [ ]:
## Loop through a list
marks = [34, 45, 56, 82, 78]
for m in marks:
    print(m)

34
45
56
82
78

In [8]:
## Sum of numbers
total = 0
for i in range(1, 6):
    total += i
print(total)

15

In [9]:
## Even numbers
for i in range(2, 11, 2):
    print(i, end = " ")

2 4 6 8 10

In [10]:
## Odd numbers
for i in range(1, 10, 2):
    print(i, end = " ")

1 3 5 7 9

In [12]:
## Loop through a liat

for ch in "Akshaya":
    print(ch, end = " ")

A k s h a y a

In [13]:
## Fixed repetition:
for _ in range(3):
    print("Hello")

Hello
Hello
Hello